#map {
    /*padding: 100px 0px 0px 0px;
    margin: 0px;*/
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 900px;
}

.wrapper{
    display: inline-block;
    margin-top: 35px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
}

.checked {
  color: yellow;
}

#hearts { font-size: 40px; color: #F4044F;}
.hearts-existing { color: #87bad7;}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
	font-size: 15px;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 12px;
}
#right-panel {
    height: 80%;
    float: right;
    width: 275px;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    /*background-color: #fff;*/
    margin-top: 25px;
}
#map {
	margin-right: 400px;
}
#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}
@media print {
	#map {
		height: 500px;
		margin: 0;
    }
    #right-panel {
		float: none;
		width: auto;
    }
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}
/*
input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}*/

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
